extends ./../template/base

block content 
  main.main
    .card-container 
      h1 Alle Reisenziele
      each destination in destinations
        a.linkDestination(href = `/destination/${destination.name}`) #{destination.name}
        p.destinationDescription 
          p Beschreibung: 
            span= destination.description  
        p.destinationImage 
          p.imageCover Fotos: 
            span= destination.imageCover          